asttokens==2.4.1
astunparse==1.6.3
audioread==3.0.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
Cython==3.0.10
decorator==5.1.1
idna==3.7
joblib==1.4.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
mindspore==2.1.0
msgpack==1.0.8
numba==0.60.0
numpy==1.22.4
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
pooch==1.8.2
protobuf==5.27.2
psutil==6.0.0
pycparser==2.22
pyworld==0.3.4
PyYAML==6.0.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.13.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
threadpoolctl==3.5.0
typing_extensions==4.12.2
urllib3==2.2.2
